html {
  background: linear-gradient(#279AF1, #23B5D3);
  height: 100%
}

.fa-home {
  color: white;
}

.navbar {
  width: 5%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #070600;
}

.navbar table {
  margin: auto;
}
