html {
  background: linear-gradient(#E6E6E6, #B5FFFF)
}

.fa-home {
  color: white;
}

.navbar {
  width: 5%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #6FA09A;
}

.navbar table {
  margin: auto;
}
